* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

main {
  background-color: #085e7d;
  min-height: 100vh;
  max-height: fit-content;
}

iframe{
  height: 400px;
  width: inherit;
  border-radius: 15px;
}

footer {
  margin-top: 10px;
}

.card {
  margin: 1rem 0;
  height: fit-content;
  width: 200px;
}
